* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

/* header */
.container {
    display: flex;
    align-items: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.navbar ul {
    display: flex;
    justify-content: flex-end;

}


/* MAIN */

main {
    background-color: black;
}

h1 {
    color: white;
}

/* AZZURRO */

.colorezz {
    background-color: blue;
}

.wrappare {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
}

.img-azz {
    width: 20px;

}

.grande {
    width: 50px;
}

.item {
    display: flex;
    padding: 40px 0;
    align-items: center;
}

.item-azz {
    margin-left: 10px;
    color: white;
    font-size: 13px;
}