* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

/* header */
.container {
    display: flex;
    align-items: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.navbar ul {
    display: flex;
    justify-content: flex-end;

}